<template>
    <div class="contact-info">
      <div class="image-container">
        <div class="images">
          <img src="@/assets/phone.png" alt="image" class="image">
        </div>
        <div class="images">
          <img src="@/assets/insta.png" alt="image" class="image">
        </div>
        <div class="images">
          <img src="@/assets/location.png" alt="image" class="image">
        </div>
      </div>
      <div class="info">
        <p>+38(098)-562-23-84</p>
        <p>@lorem_ipsum</p>
        <p>м. Ужгород, вул. Карпенка 65</p>
      </div>
    </div>
    <div>
      <p class="text-info">Телефонуйте нам і організуйте ідеальний відпочинок з нами</p>
    </div>
  </template>
  
  <script>
  export default {
    name: 'ContactsPage',
  };
  </script>
  
  <style>
  .contact-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .image-container {
    display: flex;
    flex-direction: column; 
    margin-right: 20px;
  }
  
  .images {
    margin-bottom: 15px; 
  }
  
  .image {
    width: 50px;
    height: 50px;
  }
  
  .info {
    font-size: 30px;
  }
  
  .text-info {
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
  }
  </style>
  