<template>
  <div class="body">
    <div class="text">
      <p>Завітайте у світ та відкривайте для себе найкраще, що пропонує наша турфірма! Якщо ви мрієте про захоплюючі подорожі та незабутні враження, ви потрапили за адресою.</p>
      <p>У нас кожен тур - це подорож у світ відкритих можливостей. Зануртесь у культуру, насолоджуйтесь красою природи та відчуйте атмосферу неповторних місць разом із нашими професійними гідами.</p>
      <p>Наші тури розраховані на всіх: від прихильників спокійного відпочинку до справжніх шанувальників екстриму. Ми горді пропонувати різноманіття маршрутів та послуг, щоб кожен міг знайти щось саме для себе.</p>
      <p>Зробіть свій вибір та станьте частиною нашої подорожі. Натискайте на кнопку нижче та вирушайте у захоплюючий світ турів!</p>
    </div>
    <router-link to="/tours" class="explore-button">Дізнатися більше про тури</router-link>
  </div>
</template>

<script>
export default{
  name: 'HomePage'
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  background-image: url('@/assets/background(1).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.body {
  text-align: left justify;
  padding: 50px;
  color: #0f0e0e;
  padding: 0px 50px 50px;
}

.text{
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.explore-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  
}

.explore-button:hover {
  background-color: #297fb8;
}
</style>
