<template>
    <div class="favorites">
      <h2>Вподобані тури</h2>
      <div v-for="favorite in getFavoritesList" :key="favorite.id" class="favorite-item">
        <h5>{{ favorite.title }}</h5>
        <p class="price">{{ favorite.price }}</p>
        <button @click="removeFromFavorites(favorite.id)" class="remove-button">Видалити</button>
      </div>
    </div>
</template>
  
  <script>
  import { mapGetters, mapActions } from 'vuex';
  
  export default {
    name: 'LikedPage',
    computed: {
        ...mapGetters('favorites', ['getFavoritesList']),
    },

    methods: {
        ...mapActions('favorites', ['removeFromFavorites']),
    },
  };
  </script>
  
  <style scoped>
.favorites {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favorite-item {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #030303;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

}

.price {
  margin-top: 10px;
}

.favorite-item h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.remove-button {
  padding: 8px;
  background-color: #5791ee; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #5791ee;
}
</style>
  