<template>
    <div class="login-page">
      <div class="login-container">
        <h1>Логін</h1>
        <button @click="loginWithGoogle" class="google-btn">Зареєструватися</button>
      </div>
      <router-view></router-view>
    </div>
  </template>
  
  <script>
  import { mapActions } from 'vuex';
  
  export default {
    name: 'LoginPage',
  
    methods: {
      ...mapActions('auth', ['loginWithGoogle']),
      applyFilter() {
    },
    },
  };
  </script>
  
  <style scoped>
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .login-container {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .google-btn {
    background-color: #273c5e;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .google-btn:hover {
    background-color: #598fec;
  }
  </style>
  