<template>
  <div class="body">
    <div class="tour-categories">
      <router-link to="/ukraine" class="tour-category" @mouseover="hoverEffect(true, 'ukraine')" @mouseleave="hoverEffect(false, 'ukraine')">
        <img src="@/assets/ukraine.png" alt="Ukraine Tours" />
        <h2>Тури Україною</h2>
      </router-link>
      <router-link to="/europe" class="tour-category" @mouseover="hoverEffect(true, 'europe')" @mouseleave="hoverEffect(false, 'europe')">
        <img src="@/assets/europe.png" alt="Europe Tours" />
        <h2>Тури Європою</h2>
      </router-link>
    </div>
    <ukraine-tours-page/>
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'ToursPage',
  components: {
  },
  data() {
    return {
      hoveredElement: null,
    };
  },
  methods: {
    hoverEffect(isHovered, category) {
      if (isHovered) {
        this.hoveredElement = category;
      } else {
        this.hoveredElement = null;
      }
    },
  },
};
</script>

<style scoped>
.tour-categories {
  display: flex;
  justify-content: center;
}

.tour-category {
  text-align: center;
  margin: 20px;
  transition: transform 0.3s, border-radius 0.3s, opacity 0.3s;
}

.tour-category img {
  width: 200px; 
  height: auto;
  border-radius: 0;
  transform: scale(1);
}

.tour-category h2 {
  margin-top: 10px;
  opacity: 1;
}

.tour-category:hover img {
  transform: scale(1.1);
  border-radius: 10px;
}

.tour-category:hover h2 {
  opacity: 0.8;
  cursor: pointer;
}
</style>
