<template>
  <div class="ukrTours">
    <div v-for="item in getItemsList" :key="item.id" class="tour-item">
      <img :src="item.image" alt="" class="item-image">
      <div class="item-text">
        <h5>{{ item.title }}</h5>
        <p>{{ item.text }}</p>
        <p class="price">{{ item.price }}</p>
        <button @click="addToFavoritesHandler(item)" class="favorite-button">Вподобати</button>     
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'UkraineToursPage',
  computed: {
    ...mapGetters('ukrTours', ['getItemsList', 'isLoading']),
  },
  methods: {
    ...mapActions('ukrTours', ['loadList']),
    ...mapActions('favorites', ['addToFavorites']),
    addToFavoritesHandler(tour) {
        this.addToFavorites(tour); 
    },
  },
  created() {
    this.loadList();
  },
};
</script>

<style scoped>
.ukrTours {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tour-item {
  width: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-image {
  width: 200px;
  height: auto;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.item-text {
  flex: 1;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.price {
  margin-right: 10px;
}

.tour-item h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.favorite-button {
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-button:hover {
  background-color: #2980b9;
}
</style>
