<template>
  <div class="app">
    <div class="menu">
      <div class="logo">
        <img src="@/assets/logo.png" alt="Logo" />
      </div>
      <div class="menu-links">
        <router-link class="menu-item" to="/" exact active-class="active-link">Головна</router-link>
        <router-link class="menu-item" to="/tours" active-class="active-link">Тури</router-link>
        <router-link class="menu-item" to="/liked" active-class="active-link">Вподобані</router-link>
        <router-link class="menu-item" to="/contacts" active-class="active-link">Контакти</router-link>
        <router-link class="menu-item" to="/login" exact active-class="active-link"> Авторизуватися </router-link>
      </div>
      <div>
        <div v-if="getUser" class="user-info">
          <!--<span>{{ getUser.displayName }}</span> -->
          <img :src="getUser.photoURL" class="user-photo" />
          <button @click="onLogout" class="logout-button">Log out</button>
        </div>
      </div>
    </div>
    <div class="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import{ mapGetters, mapActions } from'vuex'

export default {
    computed: {
        ...mapGetters('auth', ['getUser']),
    },
    methods: {
        ...mapActions('auth', ['logout']),
        onLogout() {
            this.logout()
            this.$router.push({
                name: 'login',
            })
        },
    },
}
</script>

<style>

.menu-item {
  text-decoration: none;
  color: #050505;
  margin-left: 20px;
  padding: 10px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.menu-item:hover,
.menu-item.active-link {
  background-color: rgba(255, 255, 255, 0.5);
  color: #090909; 
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo img {
  max-width: 100px;
}

.menu-links {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

.user-info {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  margin-left: 250px;
}

.user-photo {
  max-width: 40px;
  border-radius: 50%; 
  margin-top: 0px; 
  margin-right: 15px;
}

.logout-button {
  margin-top: 0px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
</style>

